.component_wrapper {
    background-color: var(--grey-bg);
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.legend {
    font-size: 1rem;
    margin: 0 auto;
}
.legend_veg {
    background-color: var(--green-option);
    color: white;
    font-size: 0.9em;
    font-size: 400;
    font-style: italic;
    padding: 0.2em 0.4em;
    border-radius: 20px;
}
.nav_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.menu_title {
    margin: 1rem auto;
    font-size: 2rem;
    font-weight: 600;
    grid-column: 2/3;
}
.basket_link {
    margin: auto;
    font-size: 2rem;
    text-decoration: none;
    color: black;
    font-family: inherit;
    display: flex;
}
.basket_num_wrapper {
    background-color: orange;
    color: white;
    width: 2rem;
    border-radius: 50%;
    margin: auto 0 auto 0.1em;
    height: 2rem;
    display: flex;
}
.basket_num {
    font-family: Roboto;
    margin: auto;
    font-size: 1.5rem;
    font-weight: 500;
}
.menu_wrapper {
    padding: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.item_wrapper {
    display: flex;
    padding: 0.6em 0.8em;
    font-size: 1.5rem;
    border-radius: 10px;
    min-height: 9rem;
    min-width: 10rem;
    flex-basis: 0;
    max-width: 35vw;
    width: fit-content;
    align-items: center;
    flex-direction: column;
    background-color: var(--white-bg);
}

.item_name {
    font-size: 1em;
    font-weight: 600;
    overflow: hidden;
    max-width: 100%;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.item_price {
    color: orange;
    margin: auto 0 0.2rem 0;
    font-weight: 600;
    font-family: Roboto;
    color: black;
}
.item_veg {
    font-style: italic;
    font-size: 0.5em;
    color: white;
    background-color: var(--green-option);
    border-radius: 20px;
    padding: 0.2em 0.5em;

}
.item_add {
    font-family: inherit;
    background-color: orange;
    border: none;
    cursor: pointer;
    color: white;
    padding: 5%;
    width: 100%;
    font-weight: 500;
    border-radius: 5px;
}
.item_add:hover {
    background-color: rgb(190, 124, 0);
}